<krpano>
	<action name="startup" autorun="onstart">
		if(startscene === null OR !scene[get(startscene)], copy(startscene,scene[0].name); );
		loadscene(get(startscene), null, MERGE);
	</action>

	<scene name="tank">
		<events onloadcomplete="js('loadingDone()');set(events.onloadcomplete,null);"/>	 
	  <view hlookat="0" vlookat="0"  fov="75" fovmin="20" fovmax="120" />
		<image>
			<sphere url="https://img.alicdn.com/imgextra/i2/6000000004217/O1CN01djW9bE1h1QprTMP5d_!!6000000004217-0-hotel.jpg" />
		</image>
	</scene>
</krpano>
